<form class="form-search" method="get" action="/complex" {{ stimulus_controller('building-filter-panel') }}>
    <div class="row mb-2">
        <div class="item col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div id="rooms" class="input-group input-group-lg">
                <input type="text" name="filter[title]" class="form-control" placeholder="Название" aria-describedby="inputGroup-sizing-lg"
                        {{ stimulus_target('building-filter-panel', 'inputTitle') }}
                >
            </div>
        </div>
        <div class="item col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
            <div id="wallet" class="input-group input-group-lg">
                <input type="text" name="filter[price][from]" class="form-control" placeholder="От" aria-describedby="inputGroup-sizing-lg"
                        {{ stimulus_target('building-filter-panel', 'inputPriceFrom') }}
                >
                <span class="form-control">-</span>
                <input type="text" name="filter[price][to]" class="form-control" placeholder="До" aria-describedby="inputGroup-sizing-lg"
                        {{ stimulus_target('building-filter-panel', 'inputPriceTo') }}
                >
            </div>
        </div>
        <div class="item col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <select name="filter[date]" class="form-select form-select-lg" id="calendar"
                    {{ stimulus_target('building-filter-panel', 'selectCalendar') }}
            >
                <option selected disabled value="">Срок сдачи</option>
                <option value="">Сдан</option>
                {% set nowYear = 'now'|date('Y') %}
                {% for i in range(nowYear, nowYear + 3) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="item col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-2 fs-5 search-submit">Поиск</button>
    </div>
</form>