
{% block body %}
    <section class="section_articles_slider">
        <div class="cover-container fast-search-block">
            <div class="container pt-5 pb-5">
                <div class="d-flex mx-5 pb-4">
                    <h2 class="me-auto">Вам это будет интересно</h2>
                </div>
                <div class="mt-4 mb-5">
                    <div class="owl-carousel section_articles_slider__list" style="margin: auto;">
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                        <div class="section_articles_slider__list_item card shadow-sm bg-transparent">
                            <img src="{{ asset('build/images/banners/komnata-dlya-parnya-1.webp') }}">
                            <div class="card-body text-start">
                                <small class="section_articles_slider__list_item__header text-muted">28 октября 2022</small>
                                <p class="section_articles_slider__list_item__text card-text mt-3">ГК «А101» открывает продажи 35 коммерческих помещений в ЖК «Скандинавия»</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}