
{% block body %}
    <div class="container mt-5 px-5">
        <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb" class="mx-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_complex_list') }}">Новостройки</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
            </ol>
        </nav>
    </div>
    <section class="building-detail-block">
        <div class="container p-3 mb-5 px-5">
            <div class="mb-5 d-flex flex-wrap">
                <div class="building-block-nav d-flex flex-wrap w-100 bg-white m-4 p-4">
                    <a href="#description" class="scroll"><span>Описание</span></a>
                    <a href="#infrastructure" class="scroll"><span>Инфраструктура</span></a>
                    <a href="#characteristic" class="scroll"><span>Характеристики</span></a>
                    <a href="#map" class="scroll"><span>На карте</span></a>
                </div>
                <div class="d-flex w-100">
                    <div class="m-4 bg-white w-100 p-4">
                        <div class="building-block-title">
                            <h1 class="text-start">{{ item.title }}</h1>
                        </div>
                        <div class="building-block-info">
                            <p class="text-start fw-light"><b class="text-muted">{{ item.location }}</b></p>
                        </div>
                        <div class="building-block-photo">
                            <div id="slider_detail_building" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for key, img in item.images %}
                                    <div class="carousel-item {% if key == 0 %}active{% endif %}">
                                        <img src="{{ img }}" class="d-block w-100 img-fluid" alt="...">
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#slider_detail_building" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#slider_detail_building" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                        <div class="building-block-info-mobile">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            <h2>Об объекте</h2>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            {% if item.priceTotal %}
                                                <p class="fw-light fs-6">от {{ item.priceTotal }} ₽</p>
                                                <p class="fw-light fs-6"><b>Цена за м² от: </b>{{ item.price_per_metr_min }} ₽</p>
                                            {% else %}
                                                <p class="fw-light fs-6"><b>Цена по запросу</b></p>
                                            {% endif %}
                                            <p class="text-muted"><b>Застройщик</b><u class="fw-light">{{ item.developer }}</u></p>
                                            <p class="text-muted border-top-grey"><b>Срок сдачи</b>{{ item.date }}</p>
                                            <p class="text-muted border-top-grey"><b>Категория</b>
                                                <u class="fw-light">{{ item.parameters['Класс жилья'] | capitalize }}</u>
                                            </p>
                                            <div class="sticky-info-btn">
                                                <a class="btn" data-bs-toggle="modal" data-bs-target="#feedback-popup">
                                                    Заказать звонок
                                                </a>
                                                <a class="btn btn-map" href="#map">Показать на карте</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="building-block-description" id="description">
                            <h2 class="py-4">Описание {{ item.title }}</h2>
                            <p>{{ item.description }}</p>
                        </div>
{#                        {% if item.infrastructure %}#}
{#                        <div class="building-block-description" id="infrastructure">#}
{#                                <h2 class="py-4">Инфраструктура</h2>#}
{#                                <ul>#}
{#                                    {% for info in item.infrastructure %}#}
{#                                        <li><p>{{ info }}</p></li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                        </div>#}
{#                        {% endif %}#}
                        {% if item.parameters %}
                            <div class="building-block-characteristic" id="characteristic">
                                <h2 class="py-4">Характеристики</h2>
                                {% for name, params in item.parameters %}
                                    <p class="d-flex">
                                        <b>{{ name|capitalize}}</b>
                                        <span>{{params }}</span>
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
{#                        <div class="building-block-flats" id="flats"#}
{#                                {{ stimulus_controller('building-table') }}#}
{#                                {{ stimulus_target('building-table', 'table') }}#}
{#                        >#}
{#                            <h2 class="py-4">Цены</h2>#}
{#                            <div class="flats-list">#}
{#                                {% for i in 0..2 %}#}
{#                                <div class="flats-list__item">#}
{#                                    <div class="flats-list__item-table">#}
{#                                        <table>#}
{#                                            <thead>#}
{#                                            <tr>#}
{#                                                <td>Кол-во комнат</td>#}
{#                                                <td>S общ</td>#}
{#                                                <td>Санузел</td>#}
{#                                                <td>Цена за м<sup>2</sup></td>#}
{#                                                <td>Цена, руб</td>#}
{#                                                <td>Планировка</td>#}
{#                                            </tr>#}
{#                                            </thead>#}
{#                                            <tbody>#}
{#                                            {% for i in 0..10 %}#}
{#                                                <tr {% if i >= 6 %}style="display: none"{% endif %}>#}
{#                                                    <td>1 - комн</td>#}
{#                                                    <td>21.77</td>#}
{#                                                    <td>разд</td>#}
{#                                                    <td>105,244</td>#}
{#                                                    <td>2,291,148</td>#}
{#                                                    <td>#}
{#                                                        <a href="/parser/images/allinclusive/1.jpg" class="zoom">#}
{#                                                            <img src="{{ asset('build/images/flats.webp') }}">#}
{#                                                        </a>#}
{#                                                    </td>#}
{#                                                </tr>#}
{#                                            {% endfor %}#}
{#                                            </tbody>#}
{#                                        </table>#}
{#                                    </div>#}
{#                                    <div class="btn__block d-flex justify-content-center">#}
{#                                        <a class="show-hide btn">Показать все</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
                        <div class="building-block-map">
                            <h2 class="py-4">На карте</h2>
                            <div id="map"
                                    {{ stimulus_controller('maps', {
                                        data:[item],
                                        center:'default'
                                    }) }}
                                    {{ stimulus_target('maps', 'mapContainer') }}
                            ></div>
                        </div>
                    </div>
                    <div class="sticky-info-block m-4 flex-shrink-1">
                        <div class="sticky-info position-sticky w-100 left-0 top-0 bg-white p-4">
                            <h2>Об объекте</h2>
                            {% if item.priceTotal %}
                                <p class="fw-light fs-6">от {{ item.priceTotal }} ₽</p>
                                <p class="fw-light fs-6"><b>Цена за м² от: </b>{{ item.price_per_metr_min }} ₽</p>
                            {% else %}
                                <p class="fw-light fs-6"><b>Цена по запросу</b></p>
                            {% endif %}
                            <p class="text-muted"><b>Застройщик</b><u class="fw-light">{{ item.developer }}</u></p>
                            <p class="text-muted border-top-grey"><b>Срок сдачи</b>{{ item.date }}</p>
                            <p class="text-muted border-top-grey"><b>Категория</b><u class="fw-light">{{ item.parameters['Класс жилья'] | capitalize }}</u></p>
                            <div class="sticky-info-btn">
                                <a class="btn" data-bs-toggle="modal" data-bs-target="#feedback-popup">
                                    Заказать звонок
                                </a>
                                <a class="btn btn-map" href="#map">Показать на карте</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}