
<section class="footer">
    <div class="container">
        <footer class="py-5 px-5">
            <div class="row text-start">
                <div class="col-lg-2 pb-5">
                    <a href="index.html" class="logo m-0">
                        <img src="{{ asset('build/images/logo-main.svg') }}" alt="logo">
                    </a>
                </div>
                <div class="col-lg-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2">
                            <a href="{{ path('app_complex_list', {'filter[location]': 'Алматы'}) }}" class="nav-link p-0 text-muted">Алматы</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="{{ path('app_complex_list', {'filter[location]': 'область'}) }}" class="nav-link p-0 text-muted">Алмат. область</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 pb-5">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ path('app_article_list') }}" class="nav-link p-0 text-muted">Статьи</a></li>
                        <li class="nav-item mb-2"><a href="{{ path('app_developer_list') }}" class="nav-link p-0 text-muted">Застройщики</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 offset-1 text-end">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><span>По вопросам размещения рекламы:</span></li>
                        <li class="nav-item mb-2"><a href="mailto:newflat.kz@yandex.ru">newflat.kz@yandex.ru</a></li>
                    </ul>
                </div>
            </div>

            <div class="text-white py-4 my-4 border-top">
                <span class="text-wrap">©NewFlat, 2022. Все права защищены политика конфиденциальности</span>
            </div>
        </footer>
    </div>
</section>