{% block body %}
    <section class="catalog-block">
        <div class="container p-3 mt-5 mb-5 px-5 bg-grey">
            {% if develop %}
                <div class="d-flex justify-content-between">
                    <div class="info">
                        <h2 class="text-start">{{ develop.name }}</h2>
                        <p class="text-start fw-light">
                            <b class="fs-6 text-muted">Объектов: {{ buildings|length }}</b>
                        </p>
                        <p class="text-start fw-light">
                            <b class="fs-6 text-muted">Построил: {{ develop.rented_qnty }}</b>
                        </p>
                        <p class="text-start fw-light">
                            <b class="fs-6 text-muted">Год основания: {{ develop.year }}</b>
                        </p>
                    </div>
                    <div class="">
                        <img src="{{ develop.logo }}" class="img-thumbnail" alt="{{ develop.name }}">
                    </div>
                </div>
                <hr>
                <h3 class="text-start py-4">Объекты {{ develop.name }}</h3>
                <div class="row mb-2">
                    <div class="col-md-12">
                        {% if buildings %}
                            {% for item in buildings %}
                                <a class="card mb-3 cold-md-12" href="{{ item.detail }}">
                                    <div class="row g-0 p-2">
                                        <div class="col-md-4 card-body-img">
                                            {% if item.images %}
                                                <img src="{{ item.images[0] }}" class="img-fluid" alt="В гармонии с природой">
                                            {% else %}
                                                <img src="{{ asset('build/images/banners/zogoronaya_tishina.webp') }}" class="img-fluid" alt="В гармонии с природой">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-start d-flex align-items-center h-100">
                                                <div class="card-body text-start">
                                                    <h3 class="card-title">{{ item.title }}</h3>
                                                    <p class="card-text text-muted">{{ item.price }} ₽</p>
                                                    <p class="card-text">{{ item.location }}</p>
                                                    <p class="card-text"><small class="text-muted">Застройщик: {{ item.developer }}</small></p>
                                                    <p><b class="text-muted">Срок сдачи:</b> {{ item.date }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="card-body text-start d-flex align-items-center h-100">
                                                <p class="text-muted fw-light box-text">
                                                    {{ item.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            Ничего не найденно
                        {% endif %}
                    </div>
                </div>
            {% else %}
                Детальная информация отсутсвует
            {% endif %}
        </div>
    </section>
{% endblock %}