{% block body %}
    <div class="container mt-5">
        <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Новостройки</li>
            </ol>
        </nav>
    </div>
    <section class="catalog-block">
        <div class="container p-3 mb-5 px-5 bg-grey">
            <h2 class="text-start px-3" {{ stimulus_target('building-sort-list', 'titleCatalog') }}>{{ titleBlock }}</h2>
            <p class="text-start fw-light px-3"><b class="text-muted">Найдено {{ total }} жилых комплекса</b></p>
            <div class="catalog-tags d-flex flex-wrap">
                <a class="btn m-2" href="{{ path('app_complex_list', {'filter[location]': 'Москва'}) }}">Москва</a>
                <a class="btn m-2" href="{{ path('app_complex_list', {'filter[location]': 'Подмосковье'}) }}">Подмосковье</a>
                <a class="btn m-2" href="{{ path('app_complex_list', {'filter[date]': 'now'|date('Y') + 1}) }}">В следующем году</a>
                <a class="btn m-2" href="{{ path('app_complex_list', {'filter[status]': 'Готовые'}) }}">Сдан в эксплуатацию</a>
            </div>
            <div class="catalog-sort d-flex flex-wrap align-items-center p-3">
                <span>Сортировать по:</span>
                <div class="items-sort d-flex flex-wrap">
                    <div class="item px-2">
                        <select class="form-select form-select-lg" id="sort"
                                {{ stimulus_controller('building-sort-list') }}
                                {{ stimulus_target('building-sort-list', 'sortSelect') }}
                                {{ stimulus_action('building-sort-list', 'change', 'change') }}
                        >
                            <option selected disabled value="">по цене</option>
                            <option name="price_min" value="asc">по цене ↑</option>
                            <option name="price_min" value="desc">по цене ↓</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    {% if items %}
                        {% for item in items %}
                            <a class="card mb-3 cold-md-12" href="{{ item.detail }}">
                                        <div class="row g-0 p-2">
                                            <div class="col-md-4 card-body-img">
                                                {% if item.images %}
                                                    <img src="{{ item.images[0] }}" class="img-fluid" alt="Загородная тишина">
                                                {% else %}
                                                    <img src="{{ asset('build/images/banners/zogoronaya_tishina.webp') }}" class="img-fluid" alt="Загородная тишина">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-start d-flex align-items-center h-100">
                                                    <div class="card-body text-start">
                                                        <h3 class="card-title">{{ item.title }}</h3>
                                                        <p class="card-text text-muted">{{ item.price }} ₽</p>
                                                        <p class="card-text">{{ item.location }}</p>
                                                        <p class="card-text"><small class="text-muted">Застройщик: {{ item.developer }}</small></p>
                                                        <p><b class="text-muted">Срок сдачи:</b> {{ item.date }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="card-body text-start d-flex align-items-center h-100">
                                                    <p class="text-muted fw-light box-text">
                                                        {{ item.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                </a>
                        {% endfor %}
                    {% else %}
                        Ничего не найденно
                    {% endif %}
                </div>
            </div>
            <div class="pagination d-flex justify-content-between"
                    {{ stimulus_controller('building-paginate-list') }}
            >
                <a class="btn m-2" data-name="page" data-value="{{ before_page }}" {{ stimulus_action('building-paginate-list', 'click', 'click') }}>Предыдущая</a>
                <a class="btn m-2" data-name="page" data-value="{{ next_page }}" {{ stimulus_action('building-paginate-list', 'click', 'click') }}>Следующая</a>
            </div>
        </div>
    </section>
{% endblock %}